@{
    ViewData["Title"] = "Recruiter Portfolio";
}

<h1>Hi, I'm Mthobisi Buthelezi 👋</h1>
<p>ASP.NET MVC Developer | Building scalable web apps | Passionate about clean code and DevOps.</p>

<h2>Skills</h2>
<ul>
  <li>C#, ASP.NET MVC</li>
  <li>SQL Server, Entity Framework</li>
  <li>Git & GitHub</li>
  <li>Azure DevOps</li>
</ul>

<h2>Projects</h2>
<ul>
  <li><a href="https://hotelxman.azurewebsites.net/">MyMvcApp</a> - ASP.NET MVC web application</li>
</ul>

<h2>Contact</h2>
<p>most active Email: 22435382@dut4life.ac.za</p>
<p>or</p>
<p>Email: mthobisibuthelezi50@gmail.com</p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/sphamandla-buthelezi-8332a440a">Profile</a></p>
