@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href=/pictures.html">
  <img src="/mthobisiPic.jpeg" alt="Profile" 
       style="width:100px; height:100px; border-radius:50%; cursor:pointer;">
</a>
<br>
<div class="text-center" style="margin-top:50px; ">
    <h1 class="display-3" style="color:#2c3e50; font-weight:bold;">
        Hi, I'm Mthobisi Buthelezi 👋
    </h1>
    <p class="lead" style="color:#34495e; margin-top:20px;">
        ASP.NET MVC Developer | Building scalable web apps | Passionate about clean code and DevOps
    </p>

    <hr style="width:60%; margin:30px auto; border-top:2px solid #3498db;" />

    <div class="row justify-content-center" style="margin-top:40px;">
        <div class="col-md-4">
            <h2 style="color:#3498db;">Skills</h2>
            <ul class="list-unstyled" style="font-size:18px; color:#2c3e50;">
  <li>✔️ C#, ASP.NET MVC</li>
  <li>✔️ SQL Server, Entity Framework</li>
  <li>✔️ Git & GitHub</li>
  <li>✔️ Azure DevOps</li>
  <li>✔️ JavaScript & TypeScript</li>
  <li>✔️ HTML5 & CSS3</li>
  <li>✔️ Python (data scripting & automation)</li>
  <li>✔️ Java (object‑oriented development)</li>
  <li>✔️ REST APIs & JSON</li>
        </div>
        <div class="col-md-4">
            <h2 style="color:#3498db;">Projects</h2>
            <ul class="list-unstyled" style="font-size:18px; color:#2c3e50;">
                <li>
                    click👉 <a href="https://hotelxman.azurewebsites.net/" target="_blank" style="color:#e74c3c; font-weight:bold;">
                         (a)My Mvc App
                        </a> – ASP.NET MVC web application
                      
                         <br>
                         click👉<a href="https://2026grp17.azurewebsites.net/" target="_blank" style="color:#e74c3c; font-weight:bold;">
                        (b)My Mvc App
                    </a> – ASP.NET MVC web application
                </li>
            </ul>
        </div>
    </div>

    <hr style="width:60%; margin:40px auto; border-top:2px solid #3498db;" />

    <h2 style="color:#3498db;">Contact</h2>
    <p style="font-size:18px; color:#2c3e50;">
        📧 Most active Email: click👉 <strong>22435382@dut4life.ac.za</strong><br />
        📧 Email: click👉 <strong>mthobisibuthelezi50@gmail.com</strong><br />
        🔗 LinkedIn: click👉 <a href="https://www.linkedin.com/in/sphamandla-buthelezi-8332a440a" target="_blank" style="color:#e74c3c;">
            View my Profile
        </a>
    </p>
</div>
